<div class="ui raised very padded text container segment form">
  <h2 class="ui header">Que tal um twitter novo?</h2>
  <div class="field">
    <div class="ui fluid action input focus">
      <textarea #tweeted [value]="" placeholder="" id="commentField"></textarea>
    </div>
  </div>
  <button class="ui submit primary button right floated" type="submit" (click)="onTweet(tweeted)">Tweet</button>

  <div class="ui items">

    <div class="item" *ngFor="let tweet of tweets">
      <a class="ui tiny image">
        <img src="http://lorempixel.com/650/650/people/">
      </a>
      <div class="content">
        <a class="header">{{ nameUser.value }}, {{ tweet.date }}</a>
        <div class="description">
          <p>{{ tweet.value }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <h2 #myModalNormal></h2> -->

  <!-- <button class="ui button primary" (click)="myModalNormal.show({inverted: true})">Click me</button> -->
  <sm-modal title="Olá, bem-vindo!" class="" icon="home" #myModalNormal>
    <modal-content>

      <div class="ui warning message" *ngIf="messageModal">
        <i class="close icon"></i>
        <div class="header">  
          {{messageModal}}
        </div>
      </div>

      <p>Para podermos começar, precisamos de um nome de usuário seu. Pode ser um nome fictício qualquer.</p>
      <div class="ui fluid icon input">
        <input placeholder="Nós conte como se chamará..." type="text" #nameUser>
      </div>
    </modal-content>
    <modal-actions>
      <div class="ui buttons">
        <div class="ui button primary" (click)="saveNameAndCloseModal(nameUser.value)">Vamos começar!</div>
      </div>
    </modal-actions>
  </sm-modal>
